body {
    background-color: lightblue;

}

.game-area {
    margin: auto;
    text-align: center;
    background-color: white;
    border-radius: 12px;
    border-style: ridge;
    width: 650px;
    max-height: 80%;
    box-shadow: 0 0 5px 4px;

}

.btn {
    background-color: white;
    border-color: black;
    font-size: 20px;
    border-radius: 12px;

}

.btn btn--reset {
    border-radius: 12px;
}

.btn:hover {
    border-color: white;
    background-color: lightsteelblue;

}

.btn--reset {
    font-size: small;
}

.hide {
    display: none;
}